{% load static %}
{% load i18n %}

{% trans "Storyflow" as page_title %}

<html>
<head>
    <title>
        {{ page_title }}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'flow/style.css' %}">
</head>
<body>
<nav id="header" class="container">
    <a href="/">
        <img src="" alt="" id="logo">
        LOGO
    </a>
    <ul id="main_nav">
        <li>About</li>
        <li>Pricing</li>
        <li>Tutorials</li>
        <li>
            <a href="/games/list/all">
                Search Games
            </a>
        </li>
    </ul>
    <div id="account">
        {% if user.is_authenticated %}
            <ul>
                <li>{{ user.username }}</li>
                <li>
                    <a href="/login/logout">
                        Logout
                    </a>
                </li>
                <li>
                    <a href="/game/create">
                        {% trans "New Game" %}
                    </a>
                </li>
                <li><a href="/games/list/mine">My Games</a></li>
            </ul>
        {% else %}
            <form action="/login/" method="post" id="login_form">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username_storyflow">
                <input type="password" placeholder="Password" name="password_storyflow">
                <input type="submit" value="Login">
            </form>
            <a href="/signup">
                Signup
            </a>
        {% endif %}
    </div>
</nav>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="{% static 'flow/cookie.js' %}"></script>
<script src="{% static 'flow/basics.js' %}"></script>
</body>
</html>
