{% extends 'flow/base.html' %}

{% load static %}
{% load i18n %}


{% block content %}
    <h2>{{ game.name }}</h2>
    {% trans "Editing Mode" %}
    <p>
        {{ game.description }}
    </p>
    <div id="game_editor" data-game_id="{{ game.id }}">
        <div id="game_editor_flow_panel" class="game_editor_panel"">
            <div id="game_editor_flow_panel_scroll_container" style="width: {{ flow_width }}; height: {{ flow_height }}">
                <a id="create_new_story_button" href="{% url 'add_story' game.id %}">
                <button>Add Story</button>
            </a>
            <div id="story_flow_overview">
                {% for story in stories %}
                    <div class="story_link" data-story_id="{{ story.id }}" draggable="true" style="left: {{ story.editor_panel_x }}px; top: {{ story.editor_panel_y }}px">
                        {{ story.name }}
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
        <div id="game_editor_story_panel" class="game_editor_panel">

        </div>
        <div id="game_editor_chat_panel" class="game_editor_panel">
            {% include 'flow/chat.html' %}
        </div>
    </div>

    <template id="story_link_template">
        <div class="story_link" data-story_id="-1">

        </div>
    </template>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static '/flow/jquery-ui.min.js' %}"></script>
    <script src="{% static '/flow/edit_game.js' %}"></script>
{% endblock %}



