{% extends 'flow/base.html' %}
{% load i18n %}

{% block content %}
    <ul class="game_list">
        {% for game in games %}
            <li>
                <a href="{% url 'game' game.id %}">
                    {{ game.name }}
                </a>
                {{ game.description }}
            </li>
        {% endfor %}
    </ul>

    {% if games is None %}
        <p>
            {% trans 'There are no games here.' %}
            <a href="{% url link_target %}">
                {{ link_text }}
            </a>
        </p>
    {% endif %}

{% endblock %}